*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: rgb(244, 244, 244);
}
.container{
  margin: 1rem;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
main{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  gap: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  justify-content: space-between;
  gap: 1rem;
  background: white;
  border-radius: 5px solid white;
  padding: 1rem;
  border-radius: 5px;
}
.price-heading{
  font-size: 3rem;
}
.plan-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: 600;
}
.seperator{
  width: 60%;
}
.button-learn-more{
  all: unset;
  width: 100%;
  padding: 1rem 0;
  border-radius: 5px;
  color: white;
  background: rgba(120, 4, 120, 0.644);
}

.active-card{
 color: white;
  background: rgba(120, 4, 120, 0.644);
}
.active-btn{
  color: rgba(120, 4, 120, 0.644);
  background-color: white;
}
@media(min-width:425px){
  main{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  main>*{
    flex-grow: 1;
    max-width: 300px;
  }
}