*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.search-wrapper,.profile-details-section{
  display: none;
}
.bell-icon{
  position: relative;
  /* height: 50px; */
  width: 30px;

}
.bell-img-wrapper{
  width: 100%;
  height: 100%;
}
.bell-img{
  width: 100%;
  height: 100%;
}
.notification-count{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: red;
  /* padding: 0.12rem; */
  width: 1rem;
  height: 1.05rem;
  font-size: smaller;
  font-weight: 500;
  text-align: center;
  border-radius: 50%;
  color: white;
}
.be-visible{
  display: block;
}
.sidebar{
  position: fixed;
  background: white;
  color: #6366F1;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 10;
}
.sidebar-header{
  display: flex;
  justify-content: start;
  gap: 2rem;
  align-items: center;
  height: 10vh;
  background: #EEF2FF;
}
.logo-wrapper{
  height: 100%;
}
.logo{
  height: 100%;
  background: #6366F1;
  
}
.side-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar-option-wrapper{
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 1rem;
}
.sidebar-option-wrapper:hover{
  background: #6366F1;
  color: #EEF2FF;
  cursor: pointer;
}
.side-main{
  width: 100%;
}
.search-wrapper{
  width: 80%;
  height: 3rem;
  display: flex;
  align-self: center;
  position: relative;
  border-radius: 1rem;
  border: black solid 3px;
}
.search-input{
  /* all: unset; */
  width: 80%;
  height: 100%;
  border: transparent;
  border-radius: 1rem;
  
}
.search-img-wrapper{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background: #6366F1;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.8rem 0.8rem 0;
}
.sidebar-separator{
  width: 80%;
  margin: 1rem auto;
}
.side-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem ;
}
.upgrade-wrapper{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background: #EEF2FF;
  padding: 1rem;
}
.upgrade-detail{
  text-align: center;
}
.upgrade-btn{
  all: unset;
  background: #6366F1;
  color: #EEF2FF;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;

}
.upgrade-btn:hover{
  background: #4b4de7;;
}
.open{
  display: block;
}